<footer>
    <div class="Contenedor-Footer">
        <div class="footer__terminos">
        <p>Subcribirse</p>
        <p>Terminos De Uso</p>
        <p>Politicas De Privacidad</p>
        <p>Contactos</p>
    </div>
        <div class="footer__licencia">
            <p>2023 El Rincon Del Libro Inc. Todos los derechos reservados</p>
        </div>
    </div>
</footer>