<footer>
    <div class="Contenedor-Footer">
        <div id="Suscribirse"><p>Subcribirse</p></div>
        <div id="TerminosDeUso"><p>Terminos De Uso</p></div>
        <div id="PolitcasDePrivacidad"><p>Politicas De Privacidad</p></div>
        <div id="Contactos"><p>Contactos</p></div>
    </div>
    <h4 id="derechos-reservados">2023 El Rincon Del Libro Inc. Todos los derechos reservados</h4>
</footer>