<header id="header">
    <section class="Contenedor-Header-Img-barra">
        <div class="Contenedor-Imagen-LOGO">
            <a href="/"><img id="imagen-LOGO" src="/images/logo.png" alt="Logo El Rincon del Libro"></a>
        </div>

        <div class="Contenedor-BarraDeBusqueda-Lupa">

            <form action="/search" method="GET">
                <input class="BarraDeBusqueda-Lupa" type="text" name="keywords" placeholder="Buscar Libros"
                    class="search-form_input">
                <button class="Lupa" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>

        <div class="Contenedor-Icono-Notificacion">
            <button id="Icono-Notificacion" type="submit"><i class="fa-regular fa-bell"></i></button>
        </div>
        <% if(locals.isLogged) {%>
            <div class="Contenedor-Icono-Perfil">
                <a href="/UserProfile"> <img class="foto__perfil" src="/images/imageUsers/<%= locals.userLog.image %>"
                        alt="IMAGEN DE PERFIL"></i></button></a>
                <p><strong>
                        <%= locals.userLog.username %>
                    </strong></p>
            </div>
            <% } else { %>
                <div class="register__log">
                    <a href="/registrarse">Register</a>
                    <a href="iniciar-sesion">Log in</a>
                </div>
                <% } %>



    </section>
    <nav class="Contenedor-Lista">
        <ul class="Lista" type="none">

            <li><a href="/">INICIO</a></li>


            <li><a href="/biblioteca">BIBLIOTECA</a></li>


            <li><a href="/iniciar-sesion">PERFIL</a></li>


            <% if(locals.isLogged) { %>

                <li><a href="/biblioteca/CreacionDeProductos">CREAR</a></li>


                <li><a href="/logout">CERRAR SESION</a></li>

                <% } %>
                    <li id="Icono-CarritoDeCompras"><a href="/carrito-de-compra"><i
                                class="fa-solid fa-cart-shopping"></i></a></li>

        </ul>

    </nav>
  
</header>