 <link rel="stylesheet" href="/css/header.css">
 <header class="header">
    <section class="container__header">
        <div class="img__logo">
            <a href="/"><img src="/images/logo.png" alt="Logo El Rincon del Libro"></a>
        </div>


        <form  class="form__header" action="/search" method="GET">
            <input type="text" name="keywords" placeholder="Buscar Libros" class="search-form_input">
            <button class="lupa" type="submit"><i class="fas fa-search"></i></button>
        </form>


        <% if(locals.isLogged) {%>
            <div class="Contenedor-Icono-Perfil">
                <a href="/UserProfile"> <img class="foto__perfil" src="/images/imageUsers/<%= locals.userLog.image %>"
                        alt="IMAGEN DE PERFIL"></i></button></a>
                <p class="name"><strong>
                        <%= locals.userLog.username %>
                    </strong></p>
            </div>
            <% } else { %>
                <div class="register__log">
                    <a href="/registrarse">Register</a>
                    <a href="iniciar-sesion">Log in</a>
                </div>
                <% } %>
    </section>
    <nav class="Contenedor-Lista">
        <ul class="Lista" type="none">

            <li><a href="/">INICIO</a></li>


            <li><a href="/biblioteca">BIBLIOTECA</a></li>


            <li><a href="/iniciar-sesion">PERFIL</a></li>


            <% if(locals.isLogged) { %>

                <li><a href="/biblioteca/CreacionDeProductos">CREAR</a></li>


                <li><a href="/logout">CERRAR SESION</a></li>

                <% } %>
                    <li id="Icono-CarritoDeCompras"><a href="/carrito-de-compra"><i
                                class="fa-solid fa-cart-shopping"></i></a></li>

        </ul>

    </nav>

</header>