<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/styles-Carrito.css">
</head>
<body>
    <!------ HEADER ------>
    <%- include('./partials/header') %>

    <main class="main">
        <section class="Contenedor-Carro">
             <h2>Tu Carrito De Compras</h2>
             <div>
                 <div class="ImagenDeArticulo1">    
                  <article id="Articulo-1">
                     <div class="Imagen"><img src="/images/Alicia-En-El-Pais-De-Las-Maravillas.jpg" alt="Alicia-En-El-Pais-De-Las-Maravillas"></div>
                      <div id="Contenido-Del-Articulo">
                        <h6>NOMBRE DEL LIBRO:</h6>
                        <h6>GENERO DEL LIBRO:</h6>
                        <h6>DESCRIPCION:</h6><p>hola que tal, estoy probando que tal va esto</p></div>
                        <div class="DetallesDelProducto">
                            <h4 id="precio">$****</h4>
                            <div class="Boton-Fisico-Digital">
                            <button type="submit">Fisico</button>
                            <button type="submit">Digital</button></div>
                            <div id="eliminar">
                                <button type="reset">Eliminar</button>
                            </div>
                        </div>
                  </article>
                        

                 <div class="ImagenDeArticulo1">    
                  <article id="Articulo-2">
                     <div class="Imagen"><img src="/images/Harry-Potter-La-Piedra-Filosofal.jpg" alt="Harry-Potter-La-Piedra-Filosofa"></div>
                      <div id="Contenido-Del-Articulo">
                        <h6>NOMBRE DEL LIBRO:</h6>
                        <h6>GENERO DEL LIBRO:</h6>
                        <h6>DESCRIPCION:</h6><p>hola que tal, estoy probando que tal va esto</p></div>
                        <div class="DetallesDelProducto">
                            <h4 id="precio">$****</h4>
                            <div class="Boton-Fisico-Digital">
                            <button type="submit">Fisico</button>
                            <button type="submit">Digital</button></div>
                            <div id="eliminar">
                                <button type="reset">Eliminar</button>
                            </div>
                        </div>
                  </article>



                 <div class="ImagenDeArticulo1">    
                   <article id="Articulo-3">
                         <div class="Imagen"><img src="/images/Quijote-De-La-Mancha.jpg" alt="Quijote-De-La-Mancha"></div>
                          <div id="Contenido-Del-Articulo">
                            <h6>NOMBRE DEL LIBRO:</h6>
                            <h6>GENERO DEL LIBRO:</h6>
                            <h6>DESCRIPCION:</h6><p>hola que tal, estoy probando que tal va esto</p></div>
                            <div class="DetallesDelProducto">
                                <h4 id="precio">$****</h4>
                                <div class="Boton-Fisico-Digital">
                                <button type="submit">Fisico</button>
                                <button type="submit">Digital</button></div>
                                <div id="eliminar">
                                    <button type="reset">Eliminar</button>
                                </div>
                            </div>
                   </article>
                </section>
                        


        <div class="Contenedor-Publicidad">
            <div id="Destacados">
            <h4>Descatados</h4>
            <img src="/images/Cincuenta-Sombras-De-Grey.jpg" alt="Cincuenta-Sombras-De-Grey"></div>
            <div id="Publicidad">
            <h4>Publicidad</h4>
            <img src="/images/publicidad.jpg" alt="Publicidad">
            <img src="/images/publicidad2.jpg" alt="Publicidad">
            <img src="/images/publicidad3.jpg" alt="Publicidad"></div>
        </div>
    </main>


    <!---- FOOTER-->
    <%- include('./partials/footer') %>
</body>
</html