<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/styles-Carrito.css">
</head>

<body>
    <!------ HEADER ------>
    <%- include('./partials/header') %>

        <main class="main">
            <section class="carrito">
                <h2>Productos de mi carrito <i class="fa-solid fa-cart-shopping" style="color: #1dad00;"></i></h2>
                <div>
                    <table border="1">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Producto 1</td>
                                <td>$10.00</td>
                                <td>2</td>
                                <td>$20.00</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Producto 2</td>
                                <td>$15.00</td>
                                <td>3</td>
                                <td>$45.00</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Producto 3</td>
                                <td>$8.00</td>
                                <td>5</td>
                                <td>$40.00</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3"></td>
                                <td>Total:</td>
                                <td>$105.00</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </section>
            <div class="formas__de__pago">
                <h2>Terminar la compra</h2>
                <div>
                    <div class="tipo__envio">
                        <p>Tipo Envio</p>
                        <select name="" id="">
                            <option value="">Correo Argentino</option>
                            <option value="">Sucursal</option>
                        </select>
                    </div>
                    <div class="tipo__envio">
                        <p> Pago </p>
                        <select name="" id="">
                            <option value="">Efectivo</option>
                            <option value="">Debito</option>
                            <option value="">Credito</option>
                        </select>
                    </div>
                </div>
                <a href="/carrito-de-compras"><button>Comprar</button></a>

            </div>

            <!-- <div class="Contenedor-Publicidad">
            <div id="Destacados">
            <h4>Descatados</h4>
            <img src="/images/Cincuenta-Sombras-De-Grey.jpg" alt="Cincuenta-Sombras-De-Grey"></div>
            <div id="Publicidad">
            <h4>Publicidad</h4>
            <img src="/images/publicidad.jpg" alt="Publicidad">
            <img src="/images/publicidad2.jpg" alt="Publicidad">
            <img src="/images/publicidad3.jpg" alt="Publicidad"></div>
        </div> -->
        </main>


        <!---- FOOTER-->
        <%- include('./partials/footer') %>
</body>

</html