


    body{
        background-color: #dcd9fa;
        padding: 0px;
        margin: 0px;
    }
    .Contenedor-Footer{
        height: 100%;
        background-color: #490b3d;
        display: flex;
        flex-direction: column;
        padding: 15px;
       
       
    }
    .Contenedor-Footer p{
        font-size: 16px;
        color: #f1b222;
        font-family: 'Roboto', sans-serif;;
    }
    .footer__terminos{
        display: flex;
        justify-content: space-around;
    }
    .footer__licencia{
        display: flex;
        justify-content: center;
    }

