
@media screen and (min-width: 600px) {
   .header{
      display: flex;
      flex-direction: column;
      background-color: #552b4d;
      color: white;
      font-family: 'Roboto', sans-serif;
      height: 17vw;
   
   }
   .container__header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin:2vw 2vw 0vw 2vw;
      /* margin-left: 4vw;
      margin-right: 4vw; */
   }
   .img__logo a img{
    width: 10vw;
   
   }
   .foto__perfil{
      border-radius: 100%;
      width: 6vw;
      height:6vw;
   }
   .form__header{
      display: flex;
      justify-content: center;
   margin-right: 50px;
      width: 30vw;
      gap: 10px;
   }
   .form__header input{
      width: 20vw;
      padding: 8px;
   }
   .form__header input:focus{
      outline: none;
   }
   .name {
      font-size: 16px;
      text-align: center;
   }
   .lupa{
      cursor: pointer;
      background-color: #552b4d;
      color: white;
      font-size: 17px;
      border: none;
   }
   .Contenedor-Lista{
      display: flex;
      justify-content: center;
      padding-left: 0px;
      margin-left: 0px;
   
   }
   .Lista{
      width: 100%;
      display: flex;
      margin: 20px;
      justify-content: center;
      padding: 0;
   }
   .Lista li a{
      margin: 40px;
      text-decoration: none;
      color: white;
      font-weight: bold;
   }
   .Lista li a:hover{
      color: #ffcc55;
   }
   .fa-solid{
      font-weight: bold;
      font-size: 20px;
   }
   .register__log {
      width: 12vw;
      display: flex;
      justify-content: space-around;
   }
   .register__log a {
      background-color: rgb(255, 255, 255);
      border-radius: 5px;
      text-align: center;
      font-weight: 650;
      width: 45%;
      font-size: 15px;
      border: 2px solid;
      padding: 5px;
      text-decoration: none;
      color:black ;
      border: none;
   }
   .register__log a:hover{
      background-color: #f1b222;
   } 
}

/* .nombre__imagen {
   margin-top: 22px;
}

.Contenedor-Icono-Perfil {
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;

}

.Contenedor-Icono-Perfil p strong {
   font-weight: bold;
   font-style: italic;
   text-decoration: none;
   color: rgb(222, 230, 236);
   text-transform: uppercase;
}

.Contenedor-Icono-Perfil a  {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 10vw;

}

.foto__perfil {
   width: 2vw;
   border-radius: 15px;
   
}

.fa-user {
   font-size: 30px;

}

.nombe__imagen {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
}

.userName {
   text-align: center;
   width: 100%;
}

.userName strong {
   color: rgb(240, 239, 239);
   margin-top: 20px;
   text-align: center;
   font-size: 20px;
   font-family: 'Roboto', sans-serif;
}

#header {
   border: solid 1px rgb(145, 145, 145);
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   padding: 10px;
   max-width: 100%;
   height: 13vw;
   
   background-color: #552b4d;
}

#imagen-LOGO {
   width: 120px;
}

.Contenedor-Imagen-LOGO {
   width: 12%;
   display: flex;
   justify-content: center;
}

.Contenedor-BarraDeBusqueda-Lupa {
   width: 45%;
   display: flex;
   margin-left: 25px;
   justify-content: center;
   align-items: center;
   background-color: #f1b222;

}
.Contenedor-BarraDeBusqueda-Lupa form{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}


.Contenedor-BarraDeBusqueda-Lupa input {
   width: 20vw;
   display: flex;

  align-items: center;
  background-color: #f1f1f1; 
  border-radius: 20px; 
  padding: 5px; 
}



.Lupa {
   background-color: #007bff; 
   color: #fff; 
   border: none;
   border-radius: 20px; 
   margin-left: 5px; 
   cursor: pointer;
   padding: 10px 20px;
   margin-bottom: 10px;
   transition: background-color 0.3s ease;
}
.Lupa:hover{
   background-color: #0056b3;
}
#Icono-Notificacion {
   width: 50px;
   height: 50px;
   font-size: 30px;
   border-radius: 50%;
   background-color: #f1b222;
}

.Contenedor-Icono-Notificacion {
   width: 15%;
   display: flex;
   justify-content: flex-end;
}

.Contenedor-Header-Img-barra {
   margin-left: 0px;
   width: 100%;
   height: 8vw;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}



.Lista{
   display: flex;
   align-items: center;
   justify-content: center;
}
.Lista li a{
   font-weight: 600;
   margin: 40px;
   color: #f1b222;
   font-size: 18px;
}
.Lista li a:hover{
   color: #ffffff;
   font-weight: 700;
}

#Inicio li a{
   font-size: large;
}

#Inicio:hover {
   transform: scale(1.2);
 background-color:#F1E0BE;
 
 color: aliceblue;
}

#Biblioteca li a{
 font-size: large;
}
#Biblioteca:hover {
   transform: scale(1.2);
   background-color:#F1E0BE;
 color: aliceblue;
}


#Perfil li a {
   font-size: large;
}
#Perfil:hover {
   transform: scale(1.2);
   background-color:#F1E0BE;
 color: aliceblue;
}


#Nosotros li a{
   font-size: large;
}
#Nosotros:hover {
   transform: scale(1.2);
   background-color:#F1E0BE; 
   color: aliceblue;
}



#PreguntasFrecuentes li a { 
   font-size: large;
}
#PreguntasFrecuentes:hover {
   transform: scale(1.2);
   background-color:#F1E0BE;
   color: aliceblue;
}

#CarritoDeCompras {

   display: flex;


   transition: 0.5s;
}

#CarritoDeCompra:hover {
   transform: scale(1.2);
}


.fa-cart-shopping{
   color: aliceblue;
   font-size: 2vw;
}
.fa-cart-shopping:hover{
 color:#F1E0BE;
transition: scale(1.5);
}



a {
   text-decoration: none;
   color: black;
   
}



.register__log a {
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   text-align: center;
   font-weight: 650;
   width: 45%;
   font-size: 15px;
   border: 2px solid;
   padding: 5px;
}
.register__log a:hover{
   background-color: #f1b222;
} */
