.nombre__imagen {
   margin-top: 22px;
}

.Contenedor-Icono-Perfil {
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
}

.Contenedor-Icono-Perfil p strong {
   font-weight: bold;
   font-style: italic;
   text-decoration: none;
   color: rgb(222, 230, 236);
   text-transform: uppercase;
}

.Contenedor-Icono-Perfil a  {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 10vw;

}

.foto__perfil {
   width: 5vw;
   border-radius: 15px;
   
}

.fa-user {
   font-size: 30px;

}

.nombe__imagen {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
}

.userName {
   text-align: center;
   width: 100%;
}

.userName strong {
   color: rgb(240, 239, 239);
   margin-top: 20px;
   text-align: center;
   font-size: 20px;
   font-family: 'Roboto', sans-serif;
}

#header {
   border: solid 1px rgb(145, 145, 145);
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   padding: 10px;
   max-width: 100%;
   height: 13vw;
   background-color: #552b4d;
   
}

#imagen-LOGO {
   width: 120px;
}

.Contenedor-Imagen-LOGO {
   width: 12%;
   display: flex;
   justify-content: center;
}

.Contenedor-BarraDeBusqueda-Lupa {
   width: 35%;
   display: flex;
   justify-content: center;
   align-items: center;

}
.Contenedor-BarraDeBusqueda-Lupa form{
   margin-left: 3vw;
}

.Contenedor-BarraDeBusqueda-Lupa input {
   width: 20vw;
   display: flex;
   margin-left: 10vw;
  align-items: center;
  background-color: #f1f1f1; 
  border-radius: 20px; 
  padding: 5px; 
}

form {
   display: flex;
}

.BarraDeBusqueda-Lupa {
   width: 88%;
   height: 30px;
  
   border: solid 1px black;
}

.Lupa {
   background-color: #007bff; 
   color: #fff; 
   border: none;
   border-radius: 20px; 
   margin-left: 5px; 
   cursor: pointer;
   padding: 10px 20px;
   transition: background-color 0.3s ease;
}
.Lupa:hover{
   background-color: #0056b3;
}
#Icono-Notificacion {
   width: 50px;
   height: 50px;
   font-size: 30px;
   border-radius: 50%;
   background-color: #f1b222;
}

.Contenedor-Icono-Notificacion {
   width: 15%;
   display: flex;
   justify-content: flex-end;
}

.Contenedor-Header-Img-barra {
   margin-left: 0px;
   width: 100%;
   height: 8vw;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}



.Lista{
   display: flex;
   align-items: center;
   justify-content: center;
}
.Lista li a{
   font-weight: 600;
   margin: 40px;
   color: #f1b222;
   font-size: 18px;
}
.Lista li a:hover{
   color: #ffffff;
   font-weight: 700;
}

#Inicio li a{
   font-size: large;
}

#Inicio:hover {
   transform: scale(1.2);
 background-color:#F1E0BE;
 
 color: aliceblue;
}

#Biblioteca li a{
 font-size: large;
}
#Biblioteca:hover {
   transform: scale(1.2);
   background-color:#F1E0BE;
 color: aliceblue;
}


#Perfil li a {
   font-size: large;
}
#Perfil:hover {
   transform: scale(1.2);
   background-color:#F1E0BE;
 color: aliceblue;
}


#Nosotros li a{
   font-size: large;
}
#Nosotros:hover {
   transform: scale(1.2);
   background-color:#F1E0BE; 
   color: aliceblue;
}



#PreguntasFrecuentes li a { 
   font-size: large;
}
#PreguntasFrecuentes:hover {
   transform: scale(1.2);
   background-color:#F1E0BE;
   color: aliceblue;
}

#CarritoDeCompras {

   display: flex;


   transition: 0.5s;
}

#CarritoDeCompra:hover {
   transform: scale(1.2);
}


.fa-cart-shopping{
   color: aliceblue;
   font-size: 2vw;
}
.fa-cart-shopping:hover{
 color:#F1E0BE;
transition: scale(1.5);
}



a {
   text-decoration: none;
   color: black;
   
}

.register__log {
   width: 18vw;
   display: flex;
   justify-content: space-around;
}

.register__log a {
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   text-align: center;
   font-weight: 650;
   width: 45%;
   font-size: 17px;
   border: 2px solid;
}
.register__log a:hover{
   background-color: #f1b222;
}
