/*********************** HEADER ******************/
@import 'header.css';
/************************ Footer *************************/
@import 'footer.css';

* {
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
}
body{
    background-color: #dcd9fa;
    padding: 0px;
    margin: 0px;
    
}
.main{
    font-family: 'Roboto', sans-serif;
}
.calificaciones {
    display: flex;
}
.main section h3{
    text-align: center;
    font-size: 30px;
    
}


.img__banner {
    width: 100%;
    height: 26vw;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  
}
.container a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
}
.container a p{
    display: flex;
    flex-direction: column;
}
.container a p i{
    color: rgb(54, 204, 54);
}

.container img {
    width: 250px;
    height: 340px;
}

.container p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}