/*********************** HEADER ******************/
/* @import 'header.css'; */
/************************ Footer *************************/
/* @import 'footer.css'; */

* {
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #dcd9fa;
    padding: 0px;
    margin: 0px;
}

/**************** Main ******************/
.Contenedor-img-form {
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcd9fa;
}

.Imagen-Formulario img {
    width: 50%;
    margin-left: 10vw;

}

.Imagen-Formulario {
    width: 55%;
}


.Contenedor-Formulario {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin-right: 8vw;
}

#Formulario {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#Formulario p {
    font-family: 'Roboto', sans-serif;
}

#Formulario p label {
    font-family: 'Roboto', sans-serif;
    color: black;
}

#Formulario i {
    color: red;
    font-weight: bold;
}

.Contenedor-Formulario input {
    padding: 5px;
    border: solid 1px black;
    display: flex;
    width: 20vw;
    flex-direction: column;
}

#text-log-in {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 550;
    color: darkmagenta;
}

.Contenedor-Formulario button {
    padding: 7px;

}


.input__login {
    font-weight: 900;
    border-radius: 7%;
    transition: 0.2s;
}


.input__login:hover {
    transform: scale(1.2);
}

label {
    color: forestgreen;
    font-weight: 900;
}

.boton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #490b3d;
    color: white;
    border: none;
    width: 25vw;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.boton__logearse {
    width: 25vw;
    display: flex;
    justify-content: center;
}

.boton:hover {
    background-color: #f1b222;
    color: #490b3d;
}

.recordar__usuario {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
}

.recordar__usuario label {
    font-weight: 80;
}

#input__recordar__user {
    width: 20px;
}

.boton__register {
    background-color: #dcd9fa;
    font-weight: 700;
    font-size: 19px;
}

.boton__register:hover {
    color: #9e7109;
}

/* PERFFIL */

.profile-container {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.profile-picture {
    border-radius: 10px;
    width: 10vw;
}

.user-details {
    background-color: #dcd9fa;
    margin-left: 20px;
    text-align: center;
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
}

.nombre__perfil {
    color: rgb(255, 0, 0);
    font-size: 15px;
}