/*********************** HEADER ******************/
/* @import 'header.css'; */
/************************ Footer *************************/
/* @import 'footer.css'; */
@media screen and (min-width: 600px) {

    *{
        box-sizing: border-box;
        border: 0px;
        font-family: 'Roboto', sans-serif;
    }
    body{
        /* border: solid 1px ; */
        padding: 0px;
        margin: 0px;
    }
    /************* Main *****************/
    .carrito{
    text-align: center;
     
    
    
        /* background-color: aqua; */
    }
    table {
    
        /* border-top: 1px solid black;
        border-bottom: 1px solid black; */
        /* border-radius: 10px; */
        width: 80%;
        margin: 20px auto;
        font-family: Arial, sans-serif;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    th, td {
        /* border: 1px solid #dddddd; */
        text-align: left;
        padding: 12px;
    }
    
    th {
        background-color: #f2f2f2;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    tfoot {
        font-weight: bold;
    }
    
    .formas__de__pago{
       
        width: 80%;
        margin:60px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    }
    .formas__de__pago h2{
        border-bottom: 1px solid black;
        text-align: center;
        width: 100%;
    }
    .formas__de__pago div{
        width: 100%;
        display: flex;
        justify-content: space-between;
    
    }
    
    .tipo__envio{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .tipo__envio select{
        width:100%;
        height: 2vw;
    
    }
    .formas__de__pago a{
        width: 30%;
        margin: 20px 20px 20px 20px;
     
    }
    .formas__de__pago a button{
        background-color: #552b4d;
        color: white;
        cursor: pointer;
        width: 100%;
        height: 30px;
    }
    .formas__de__pago a button:hover{
    
        color: #f1b222;
    }
}