*{
    box-sizing: border-box;
    border: 0px;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #dcd9fa;
    padding: 0px;
    margin: 0px;
}

/**************** Main ******************/
.Contenedor-img-form{
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    
    background-color: #dcd9fa;
}
.Contenedor-Formulario{
    width: 100%;
   
 
}




.Formulario p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}
.Formulario p label{
    font-family: 'Roboto', sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    ;
}
input{
    font-weight: 900;
    transition: 0.2s;
}
label{
    color: rgb(0, 0, 0);
    font-weight: 900;
 
}
input:hover{
    transform: scale(1.2);
}
.Formulario{
    width: 500vw;
    height: 500px;
    display: flex;
   
    align-items: center;
    margin-top: 0px;
    margin-bottom: 7vw;

}
.doble-input{
    justify-content: start;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    
    gap: 20px;
}
.Formulario input{
    width: 30vw;
    font-size: 14px;
    padding: 5px;
  
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.foto__perfil input{
    background-color:white ;
}

#text-log-in {
    margin-top: 100px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 550;
    color: darkmagenta;
}

.botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #490b3d;
    color: white;
    border: none;
    width:15vw;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.botones:hover{

    background-color: #f1b222;
    color: black;

}
.botones-enviar-borrar{
    width: 50vw;
    display: flex;
    justify-content: space-around;
  
}
.contenedor-inputs{
    display: flex;
}
    
.boton__borrar{
    background-color:#dcd9fa ;
    font-weight: 500;
    font-size: 19px;
    cursor: pointer;
    background-color: #490b3d
}
.boton__borrar:hover{
    color: #9e7109;
}
.Nombre-Usuario-Correcto{
    border:  4px solid rgb(44, 245, 44);
}
.Nombre-Usuario-Incorrecto{
    border:  4px solid rgb(245, 44, 44);
}
.Email-Correcto{
    border:  4px solid rgb(44, 245, 44);
}
.Email-Incorrecto{
    border:  4px solid rgb(245, 44, 44);
}
.Password-Correcto{
    border:  4px solid rgb(44, 245, 44);
}
.Password-Incorrecto{
    border:  4px solid rgb(245, 44, 44);
}
.rePassword-Correcto{
    border:  4px solid rgb(44, 245, 44);
}
.rePassword-Incorrecto{
    border:  4px solid rgb(245, 44, 44);
}                                                                                                                                                               